.text-muted {
  color: #545758 !important;
}

html {
  background-image: url("../images/homebg/18_pages.jpg");
  background-size:cover; 
}

table {
  background-color: rgba(0, 0, 0, 0.12) !important;
  /*border: 5px solid #ecf0f1 !important;*/
}

table:not(.calendar-custom) tr td a {
  color: #2c3e50 !important;
  text-decoration: none;
} 

thead th {
    background-color: #1778bd !important; 
    color: white !important;
}
a:not(.btn-lg,.calendar-custom) {
    color: #ffffff !important;
    text-decoration: none
}
a:hover,
a:focus {
    color: #1778bd !important;
    text-decoration: underline
}
.table>thead>tr>td.warning,
.table>tbody>tr>td.warning,
.table>tfoot>tr>td.warning,
.table>thead>tr>th.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>tbody>tr.warning>td,
.table>tfoot>tr.warning>td,
.table>thead>tr.warning>th,
.table>tbody>tr.warning>th,
.table>tfoot>tr.warning>th {
    background-color: #258cd1 !important;
}

.btn-success {
    
    color: #ffffff !important;
    background-color: #1778bd !important;
    border-color: rgba(0, 0, 0, 0) !important;

    /* color: #ffffff;
    background-color: #18bc9c;
    border-color: #18bc9c*/
}
.btn-warning {

    color: #ffffff !important;
    background-color: #1778bd !important;
    border-color: rgba(0, 0, 0, 0) !important;
   
    /* color: #ffffff; 
     background-color: #f39c12; 
    border-color: #f39c12 !important;*/
}
.btn-primary {
    color: #ffffff !important;
    background-color: #1778bd !important;
    border-color: rgba(0, 0, 0, 0) !important;
   
    /* color: #ffffff; 
     background-color: #2c3e50; 
    border-color: #2c3e50 !important;*/
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #e6e6e6 !important;
    border-radius: 4px 4px 0 0
}
.btn-info {
    color: #ffffff !important;
    background-color: #1778bd !important;
    border-color: rgba(0, 0, 0, 0) !important;
    
     /*color: #ffffff; 
    background-color: #3498db; 
    border-color: #3498db !important;*/
}

.btn-danger {

 color: #ffffff !important;
    background-color: #1778bd !important;
    border-color: rgba(0, 0, 0, 0) !important;

/*    color: #ffffff;
    background-color: #e74c3c;
    border-color: #e74c3c;*/
}

.btn-danger:hover {
   
    color: #ffffff !important;
    background-color: #1778bd !important;
    border-color: rgba(0, 0, 0, 0) !important;

   /* color: #ffffff;
    background-color: #d62c1a;
    border-color: #cd2a19;*/
}
.panel-title {
   
    color: white !important;
}
.panel-default>.panel-heading {
   
    background-color: #1778bd !important;
   
}

.navbar-brand {    
  padding: 8.5px 15px !important;
}

.alert-danger {
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: #000 !important;
  color: #ff0000 !important;
}

.table-total td {
color: #ffffff !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.table-total-group td {

  background-color: rgba(0, 0, 0, 0) !important;
}

.report-table>thead>tr>th {
  text-align: center;
}